// Monochrome
$mine-shaft: #333333;
$storm-dust: #616365;
$dark-grey: #535353;
$chicago: #5D5D5D;
$raven: #535353;
$mountain-mist: #909193;
$grey-nurse: #EAEAE9;
$athens-grey: #DFDFDF;
$zircon: #E0E0E0;
$gallery: #EFEFEF;
$hint-of-red: #F9F8F9;
$white: #ffffff;