/*//////////////////////////////////////////////////////////////////////////////
|| Global
//////////////////////////////////////////////////////////////////////////////*/
$base-font-size: 13px;
$base-line-height: 1.3;
$site-max-width: 1220px;
$site-footer-height: 150px;

$site-inner-padding: 24px;
$site-inner-width: $site-max-width - ($site-inner-padding*2);
